@mixin centerContent {
    display: grid;
    place-content: center;
}

.container {
    width: 100%;
    min-height: 100vh;
    @include centerContent();
    cursor: default;
}

.selectContainer {
    width: 400px;
    height: 80px;
    border-radius: 40px;
    position: relative;
    display: flex;
    gap: 5px;
}

.selectOption {
    width: 50%;
    height: 100%;
    border: 2px solid rgba($color: #fff, $alpha: .7);
    @include centerContent();
    font-size: 2.5rem;
    background-image: linear-gradient(90deg, rgb(62, 25, 113), rgb(72, 105, 206));
    position: relative;
    transition: .2s;
    user-select: none;
    text-decoration: none;

    &:active {
        transform: scale(.97);
    }
}

.signup {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    right: 0;

    &:hover {
        right: 8px;
        font-weight: bold;
    }
}

.signin {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-image: linear-gradient(-90deg, rgb(62, 25, 113), rgb(72, 105, 206));
    left: 0;

    &:hover {
        left: 8px;
        font-weight: bold;
    }
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #0d1117;
    @include centerContent();

    img {
        width: 23px;
    }
}

@media (max-width: 410px) {
    .container {
        position: fixed;
    }

    .selectContainer {
        width: 80vw;
    }
}